# Ignore virtual environment directory
webxr-graph/processed_files
webxr-graph/.env
scrapeDateScript/venv
webxr-graph/public/vendor
webxr-graph/key.pem
webxr-graph/cert.pem
webxr-graph/public/vendor
webxr-graph/server/node_modules
